acl goodclients {
    192.168.199.0/24;
    localhost;
    localnets;
	::;
};

options {
    directory "/var/cache/bind";
    recursion yes;
    allow-query { goodclients; };
    //dnssec-validation auto;
    auth-nxdomain no;    # conform to RFC1035
    listen-on-v6 { any; };
    forwarders {
		8.8.8.8;
        8.8.4.4;
        208.67.222.222;
        208.67.220.220;
        172.31.0.2;
        172.16.0.2;
    };
    //forward-only;
    dnssec-enable yes;
    dnssec-validation yes;
};
